.panel-body{
  background-color:#cef2e0;
  text-align: left;
}
.img-thumbnail{
  display: block;
  width:100px;
  height:126px;
  float: right;
}
.subject {
  float: right;
  color: blue;
}
.left{
  float: left;
  margin-left: 10px;
}
.blue{
  color: blue;
}
.jumbotron > p{
  font-size: 15px;
}
.img-thumb{
  display: block;
  width:160px;
  height:160px;
  }
.list{

  color: blue;
  width: 200px;
  margin-top: 20px;
}
.right{
  float: right;
  width: 85%;
}
.panel-title{
  font-weight: bold;
}
.img-thumbr{
  display: block;
  float: left;
  width:160px;
  height:160px;
}
